* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 18px;
  padding: 5px 11px 5px 11px;
  font-family: Lato;
  color: #8A8FB9;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 18px;
  padding: 5px 11px 5px 11px;
  font-family: Lato;
  color: #8A8FB9;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 18px;
  padding: 5px 11px 5px 11px;
  font-family: Lato;
  color: #8A8FB9;
}

input::placeholder, textarea::placeholder {
  font-size: 12px;
  line-height: 18px;
  padding: 5px 11px 5px 11px;
  font-family: Lato;
  color: #8A8FB9;
}

.title {
  font-family: Josefin Sans;
  font-size: 42px;
  line-height: 49px;
  color: #1A0B5B;
  margin: auto;
  font-weight: bold;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-logo {
  font-family: Josefin Sans;
  font-size: 34px;
  line-height: 40px;
  margin-right: 88px;
  font-weight: bold;
  color: #0d0e43;
}

.header-email, .header-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-email {
  margin-right: 48px;
}

.header-button {
  background: #7E33E0;
  color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-right: 20px;
}

.header-button__last {
  margin-right: 0;
}

.header-button__text {
  margin-right: 4px;
}

.header-link {
  margin-right: 35px;
}

.header-link:first-child {
  margin-right: 21px;
}

.header-link__red {
  color: #FB2E86;
}

.header-up {
  background: #7E33E0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 18.75px;
  color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-up__right, .header-up__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-up__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.email-pic {
  margin-right: 10px;
}

.tel-pic {
  margin-right: 12px;
}

.header-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 19px;
  padding-bottom: 19px;
}

.header-down__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-down__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 40px;
}

.search__input {
  width: 317px;
  height: 100%;
  padding-left: 10px;
  border: 2px solid #e7e6ef;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
  padding-right: 61px;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 51px;
  border: none;
  background: #fb2e86;
}

.home-title {
  background: #f2f0ff;
  position: relative;
}

.home-title__pre-title {
  margin-top: 203px;
  font-family: Lato;
  font-size: 16px;
  color: #fb2e86;
  z-index: 5;
}

.home-title__title {
  font-family: Josefin Sans;
  font-size: 53px;
  color: black;
  max-width: 644px;
  margin-top: 12px;
  margin-bottom: 12px;
  z-index: 5;
}

.home-title__description {
  font-family: Lato;
  font-size: 16px;
  color: #8a8fb9;
  max-width: 559px;
  margin-bottom: 27px;
  z-index: 5;
}

.home-title__button {
  padding: 16px 40px;
  max-width: 163px;
  border-radius: 2px;
  background: #fb2e86;
  font-family: Josefin Sans;
  font-size: 17px;
  color: white;
  margin-bottom: 236px;
  z-index: 5;
}

.home-title__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-title__lamp {
  display: none;
}

.home-title__sofa {
  position: absolute;
  right: 0;
  top: 15px;
}

.home-title__sale {
  position: absolute;
  right: 45px;
  top: 45px;
}

.swiper {
  width: 1168px;
  height: 418px;
}

.swiper-wrapper {
  height: 418px;
}

.swiper-pagination-bullet {
  background: #fb2e86 !important;
  width: 16px !important;
  height: 4px !important;
  border-radius: 0% !important;
}

.swiper-pagination-bullet-active {
  width: 24px !important;
}

.swiper-slide {
  height: 361px !important;
  width: 270px !important;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.swiper-slide__image {
  height: 236px;
  background: #f6f7fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 125px;
}

.swiper-slide__title {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #fb2e86;
  margin-bottom: 12px;
}

.swiper-slide__colors {
  height: 4px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.swiper-slide__colors--green {
  background: #05e6b7;
}

.swiper-slide__colors--pink {
  background: #f701a8;
}

.swiper-slide__colors--blue {
  background: #00009d;
}

.swiper-slide__color {
  height: 4px;
  width: 14px;
  border-radius: 10px;
}

.swiper-slide__code {
  font-family: Josefin Sans;
  font-size: 14px;
  line-height: 16px;
  color: #151875;
  margin-bottom: 12px;
}

.swiper-slide__price {
  font-family: Lato;
  font-size: 14px;
  color: #151875;
}

.featured-products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 71px;
}

.featured-products__title {
  margin-top: 129px;
  margin-bottom: 48px;
}

.leatest-products {
  margin-bottom: 58px;
}

.leatest-products__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leatest-products__title {
  margin-bottom: 19px;
}

.leatest-products__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 58px;
}

.leatest-products__new, .leatest-products__best, .leatest-products__featured, .leatest-products__special {
  font-family: Lato;
  font-size: 18px;
  color: #151875;
}

.leatest-products__new {
  color: #fb2e86;
}

.leatest-products__new, .leatest-products__best, .leatest-products__featured {
  margin-right: 60px;
}

.leatest-products__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 120px;
  -webkit-column-gap: 46px;
          column-gap: 46px;
}

.leatest-products__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leatest-products__card {
  width: 360px;
  height: 306px;
}

.leatest-products__card-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.leatest-products__card-image {
  background: #f7f7f7;
  height: 270px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.leatest-products__card-name {
  font-family: Josefin Sans;
  font-size: 16px;
  color: #151875;
  line-height: 19px;
  padding-bottom: 4px;
}

.leatest-products__card-price {
  font-family: Josefin Sans;
  font-size: 14px;
  color: #151875;
  line-height: 16px;
  margin-right: 9px;
}

.leatest-products__card-price--old {
  font-size: 12px;
  line-height: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #FB2448;
  margin-right: 0;
}

.leatest-products__line {
  border: 2px solid #EEEFFB;
  -webkit-transform: matrix(1, 0.01, -0.01, 1, 0, 0);
          transform: matrix(1, 0.01, -0.01, 1, 0, 0);
  width: 154px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.grid-default {
  background-color: #F6F5FF;
  height: 286px;
  padding: 96px 126px;
}

.grid-default__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 314px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Lato;
  font-weight: 500;
  font-size: 16px;
}

.shop {
  font-family: Josefin Sans;
  font-size: 36px;
  line-height: 42px;
  color: #101750;
  font-weight: bold;
  margin-bottom: 9px;
}

.home {
  margin-right: 5px;
}

.dot {
  margin-right: 4px;
}

.pages {
  margin-right: 3px;
}

.pink-dot {
  margin-right: 5px;
  color: #FB2E86;
}

.shop-little {
  color: #FB2E86;
}

.main-items {
  padding: 124px 83px;
}

.main-items__container {
  width: 100%;
}

.eccomerce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 144px;
}

.eccomerce-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eccomerce-right__text {
  font-family: Josefin Sans;
  font-size: 22px;
  line-height: 26px;
  color: #151875;
}

.eccomerce-right__about {
  font-family: Lato;
  font-size: 12px;
  line-height: 14px;
  color: #8A8FB9;
}

.per-page {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #3F509E;
  margin-right: 8px;
}

.per-page-empty {
  width: 55px;
  border: 1px solid #E7E6EF;
  height: 25px;
  margin-right: 27px;
}

.best-match {
  width: 96px;
  border: 1px solid #E7E6EF;
  height: 28px;
  margin-right: 24px;
}

.last-input {
  width: 162px;
  border: 1px solid #E7E6EF;
  height: 30px;
}

.sort-by {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #3F509E;
  margin-right: 8px;
}

.view {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #3F509E;
}

.svg-view-second {
  margin-right: 27px;
}

.object-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 81px;
  min-width: 1239px;
  margin-bottom: 83px;
}

.object-pictures__item {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.object-pictures__img {
  background-color: #F6F7FB;
  margin-bottom: 18px;
}

.object-pictures__img--first {
  padding: 50px 41px 29px 28px;
}

.object-pictures__img--second {
  padding: 71px 55px 40px 46px;
  background-color: #EBF4F3;
  position: relative;
}

.object-pictures__img--third {
  padding: 50px 39px 29px 30px;
}

.object-pictures__img--fourth {
  padding: 63px 46px 29px 36px;
}

.object-pictures__img--fifth {
  padding: 86px 66px 55px 76px;
}

.object-pictures__img--six {
  padding: 74px 55px 48px 61px;
}

.object-pictures__img--seven {
  padding: 68px 83px 68px 73px;
}

.object-pictures__img--eight {
  padding: 71px 56px 42px 47px;
}

.object-pictures__img--nine {
  padding: 74px 50px 55px 50px;
}

.object-pictures__img--ten {
  padding: 67px 46px 55px 55px;
}

.object-pictures__img--eleven {
  padding: 62px 52px 42px 42px;
}

.object-pictures__img--twelve {
  padding: 63px 46px 29px 36px;
}

.object-pictures__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 82px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 11px;
  top: 174px;
}

.picture-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picture-description__text {
  font-family: Josefin Sans;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #151875;
  font-weight: bold;
}

.picture-description__points {
  margin-bottom: 5px;
}

.first-cost {
  font-family: Josefin Sans;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #151875;
  margin-right: 10px;
}

.second-cost {
  font-family: Josefin Sans;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #FB2E86;
}

.main-brends {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 83px;
}

.first-button {
  background: #FFFFFF;
  border-radius: 50%;
  padding: 7px;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}

.search-icon {
  height: 18px;
  margin-bottom: 10px;
}

.heart-icon {
  height: 18px;
}

.footer {
  padding-top: 95px;
  background-color: #EEEFFB;
}

.footer-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1099px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 71px;
          column-gap: 71px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form {
  height: 44px;
  border-radius: 3px;
  width: 377px;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}

.footer-input {
  width: 140px;
  height: 19px;
  padding-top: 14px;
  padding-bottom: 11px;
  margin-right: 80px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px;
}

.footer-button {
  border: none;
  background-color: #FB2E86;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #EEEFFB;
  border-radius: 3px;
  padding-top: 11px;
  padding-bottom: 9px;
  cursor: pointer;
  width: 130px;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.footer-contact {
  display: block;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #8A8FB9;
  margin-bottom: 10px;
}

.footer-adress {
  display: block;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #8A8FB9;
  width: 401px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 694px;
}

.footer-reserved {
  background-color: #E7E4F8;
}

.footer-reserved__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  padding-top: 17px;
  padding-bottom: 17px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 377px;
  margin-right: 583px;
}

.footer-item {
  margin-bottom: 101px;
}

.footer-item__main {
  margin-bottom: 42px;
  font-family: Josefin Sans;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.footer-item__li {
  margin-bottom: 21px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #8A8FB9;
}

.footer-icons__links {
  margin-right: 11px;
  text-decoration: none;
}

.hekto {
  font-family: Josefin Sans;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 31px;
  display: block;
}

.reserved {
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #9DA0AE;
}
/*# sourceMappingURL=style.css.map */